/* default styles here for older browsers. 
    I tend to go for a 600px - 960px width max but using percentages
*/




#header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.3rem 0.13rem 0.13rem rgb(143, 0, 0);
    margin: -1vh auto;
    width: 90vw;
    height: 90vh;
}

#hi-de {
    padding: 1vh 2vw;
}

#title,
#greeting {
    display: inline-block;
    margin: -1vw auto;
}

.shade {
    background-color: rgba(44, 44, 44, 0.5);
}

#navbar {
    overflow: hidden;
    width: 100%;
    margin: 0vh 0px;
    margin-bottom: 1vh;
}



#title {
    font-size: calc(1.5rem + 1.8vw);
}

#greeting,
#sub-title {
    font-size: calc(1.3rem + 1.2vw);
    margin: 1.1vh auto;
}

#description {
    font-size: calc(1rem + 1vw);
}



nav {
    border-bottom: .5vh solid #FD7F20;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

    .crumb a::after {
        display: inline-block;
        content: '>';
        color: #FDB750;
        font-size: 1rem;
        font-weight: bold;
        padding: 0 3px;
    }

/* contact me  */
.my-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}


.contact-me-sec {
    padding: 2%;
    width: 100vw;
    overflow: hidden;
}

.social-link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

    .social-link p {
        margin-left: 4vw;
    }

.social-link-container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-flow: column wrap;
}

.contact-me-sec a {
    color: #FD7F20;
    display: inline-block;
}

.contact-me-sec p {
    color: #f2eade;
    font-size: calc(.5rem + 1.8vw);
}

.contact-me a {
    color: #ffe0c8;
}

.y-brands img {
    margin: 1vh 1vw;
    background-color: #fffdd1;
    width: 10vw;
    height: 10vw;
    display: inline-block;
    border-radius: 10px;
}


/*for mobile devices with max decive width of 480*/
@media screen and (max-device-width: 500px) {
}

@media only screen and (min-width: 501px) {
}

@media only screen and (min-width: 1440px) {
    /*i dont fvck know whats happening, but it bloody appears that
        my media queries not taking effect.
    */
    .social-link p {
        background-color: aqua;
    }

    .social-link-container {
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
}
