/* default styles here for older browsers. 
    I tend to go for a 600px - 960px width max but using percentages
*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

body {

    width: 100%;
    height: 100vh;
    min-width: 150px;
    margin: 0vh auto;
    background-color: #fc2f20;
    color: #ffeff7;
}



#header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 2px 2px rgb(143, 0, 0);
    margin: -1vh auto;
    width: 90vw;
    height: 90vh;
}

#hi-de {

    padding:1vh 2vw;
}

#title,
#greeting {
    display: inline-block;
    margin: -1vw auto;

}

.shade {
    background-color: rgba(44, 44, 44, 0.5);

}

#navbar {
    overflow: hidden;
    width:100%;
    margin: 0vh 0px;
    margin-bottom: 1vh;

}



#title {
    font-size: calc(1.5rem + 1.8vw);
}

#greeting,
#sub-title {
    font-size: calc(1.3rem + 1.2vw);
    margin: 1.1vh auto;
}

#description {
    font-size: calc(1rem + 1vw);
}



nav {
    border-bottom: .5vh solid #FD7F20;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    content: '>';
    color: #FDB750;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 3px;
}

/* contact me  */
.columns {
    column-count: 1;
    padding: 1vh 2vw;
    margin: 0% auto;
    column-gap: 6vw;
}

.contact-me-sec {
    box-shadow: 5px 2px 2px #FD7F20;
    margin: 2vh auto;
    padding: 2vh 4vw;
}

.contact-me-sec a {
    color: #FD7F20;
    display: inline-block;
}

.contact-me-sec p {
    color: #f2eade;
    font-size: calc(.5rem + 1.8vw);
}

.contact-me a {
    color: #ffe0c8;
}

.y-brands img {

    margin: 1vh vw;
    background-color: #fffdd1;
    width: 10vw;
    height: 10vw;
    display: inline-block;
    border-radius: 10px;
}


/*for mobile devices with max decive width of 480*/
@media screen and (max-device-width: 500px) {
    * {
        box-sizing: border-box;
    }

    body {

        min-width: 40vw;
    }

    #header-section {
        box-shadow: 5px 2px 2px rgb(143, 0, 0);
        width: 90vw;
        margin: 1vh auto;
    }

    #hi-de {
        padding: 1vh 2vw;
    }

    #title,
    #greeting {
        display: inline-block;
        margin: -1vw auto;

    }

    .shade {
        background-color: rgba(44, 44, 44, 0.5);

    }

    #navbar {
        width:100%;
        overflow: hidden;
        margin: 0vh auto;
        margin-bottom: 1vh;
    }

    

    #title {
        font-size: calc(1.5rem + 1.8vw);
    }

    #greeting,
    #sub-title {
        font-size: calc(1.3rem + 1.2vw);
        margin: 1.1vh auto;
    }

    #description {
        font-size: calc(1rem + 1vw);
    }



    nav {
        border-bottom: .5vh solid #FD7F20;
    }

    .crumbs ol {
        list-style-type: none;
        padding-left: 0;
    }

    .crumb {
        display: inline-block;
    }

    .crumb a::after {
        display: inline-block;
        content: '>';
        color: #FDB750;
        font-size: 1rem;
        font-weight: bold;
        padding: 0 3px;
    }

    /* contact me  */
    .columns {
        column-count: 1;
        padding: 1vh 2vw;
        margin: 0% auto;
        column-gap: 6vw;
    }

    .contact-me-sec {
        box-shadow: 5px 2px 2px #FD7F20;
        margin: 2vh auto;
        padding: 2vh 4vw;
    }

    .contact-me-sec a {
        color: #FD7F20;
        display: inline-block;
    }

    .contact-me-sec p {
        color: #f2eade;
        font-size: calc(.5rem + 1.8vw);
    }

    .contact-me a {
        color: #ffe0c8;
    }

    .y-brands img {

        margin: 1vh vw;
        background-color: #fffdd1;
        width: 10vw;
        height: 10vw;
        display: inline-block;
        border-radius: 10px;
    }


}

@media only screen and (min-width: 501px) {
    
    * {
        box-sizing: border-box;
    }

    body {
        min-width: 30vw;
        
    }

    #header-section {
        width: 74vw;
        max-width: 90vw;
        box-shadow: 5px 2px 2px rgb(143, 0, 0);
        margin: 1vh auto;
    }

    #hi-de {
        padding: 1vh 2vw;
    }

    #title,
    #greeting {
        display: inline-block;
        margin: -1vw auto;

    }

    .shade {
        background-color: rgba(44, 44, 44, 0.5);

    }

    #navbar {
        overflow: hidden;
        margin: 0vh auto;
        margin-bottom: 1vh;

    }

    

    #title {
        font-size: 1.8rem;
    }

    #greeting,
    #sub-title {
        font-size: 1.5rem;
        margin: 1.1vh auto;
    }

    #description {
        font-size: 1.2rem;
    }



    nav {
        border-bottom: .5vh solid #FD7F20;
    }

    .crumbs ol {
        list-style-type: none;
        padding-left: 0;
    }

    .crumb {
        display: inline-block;
    }

    .crumb a::after {
        display: inline-block;
        content: '>';
        color: #FDB750;
        font-size: 1rem;
        font-weight: bold;
        padding: 0 3px;
    }

    /* contact me  */
    .columns {
        column-count: 2;
        padding: 1vh 2vw;
        margin: 0% auto;
        column-gap: 5vw;
    }

    .contact-me-sec {
        box-shadow: 5px 2px 2px #FD7F20;
        margin: 2vh auto;
        padding: 2vh 4vw;
    }

    .contact-me-sec a {
        color: #FD7F20;
        display: inline-block;
    }

    .contact-me-sec p {
        color: #f2eade;
    }

    .contact-me a {
        color: #ffe0c8;
    }

    .y-brands img {

        margin: 1vh 1vw;
        background-color: #fffdd1;
        width: 1.8vw;
        height: 1.8vw;
        display: inline-block;
        border-radius: 10px;
        padding: .0vw;
    }
}

@media only screen and (min-width: 1440px) {

    * {
        box-sizing: border-box;
    }


    body {
        min-width: 30vw;
        max-width: 80vw;
        margin: 0 auto;
        padding: 0 8vw;
    }

    #header-section {
        box-shadow: 5px 2px 2px rgb(143, 0, 0);
        margin: 1vh auto;
    }

    #hi-de {
        padding: 1vh 2vw;
    }

    #title,
    #greeting {
        display: inline-block;
        margin: -1vw auto;

    }

    .shade {
        background-color: rgba(44, 44, 44, 0.5);

    }

    #navbar {
        overflow: hidden;
        margin: 0vh auto;
        margin-bottom: 1vh;

    }

   
    #title {
        font-size: 1.8rem;
    }

    #greeting,
    #sub-title {
        font-size: 1.5rem;
        margin: 1.1vh auto;
    }

    #description {
        font-size: 1.2rem;
    }



    nav {
        border-bottom: .5vh solid #FD7F20;
    }

    .crumbs ol {
        list-style-type: none;
        padding-left: 0;
    }

    .crumb {
        display: inline-block;
    }

    .crumb a::after {
        display: inline-block;
        content: '>';
        color: #FDB750;
        font-size: 1rem;
        font-weight: bold;
        padding: 0 3px;
    }

    /* contact me  */
    .columns {
        column-count: 3;
        padding: 1vh 2vw;
        margin: 0% auto;
        column-gap: 5vw;
    }

    .contact-me-sec {
        box-shadow: 5px 2px 2px #FD7F20;
        margin: 2vh auto;
        padding: 2vh 4vw;
    }

    .contact-me-sec a {
        color: #FD7F20;
        display: inline-block;
    }

    .contact-me-sec p {
        color: #f2eade;
    }

    .contact-me a {
        color: #ffe0c8;
    }

    .y-brands img {

        margin: 1vh vw;
        background-color: #fffdd1;
        width: 1.8vw;
        height: 1.8vw;
        display: inline-block;
        border-radius: 10px;
        padding: .0vw;
    }
}







@media only screen and (device-width: 768px) {
    /* default iPad screens */

}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}